{% load static %}



<!-- <h1>Hellooo World!!!!!</h1>
<img src="{% static 'images/doll.jpg' %}" height="200px" width="200px"> -->



<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Digajerla Navya</title>
    <link href="{% static '/css/main.css' %}"  rel="stylesheet"  type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img src="{% static 'images/doll.jpg' %}" id="profile-pic" height="150px" width="150px">
                    <hr>
                    <h3>Hai I am <em>Navya!</em></h3>
                    <p style="font-style:italic;">navyadigajerla974@gmail.com</p>
                    <b><p>I love to learn new skills</p></b>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body">
                    <h5>Educational Qualifications</h5>
                    <hr>
                    <ul>
                        <li><p>Studied 10th in Vidya Bharathi High School and secured <b>9.0(GPA)</b> in 2012 and Intermediate (12th) in SR Junior College for Girls and secured <b>97%</b>in 2014</p></li>

                        <li><p> Completed my B.Tech in the stream of <i>Electrical and Electronics</i> from Kakatiya University in the state of Telangana with aggregate of <b>77%</b> in the year 2018.I have participated in events conducted by my college and took part as an event organiser.I have completed my academic project on Dynamic Voltage Restorer. </p></li>
                        <li style="list-style-type:none;">

                            <ul class="social-links">
                                
                                <li><a href="https://www.linkedin.com/in/navya-digajerla-08b0751a5/"><img class="icons" src="{% static 'images/linkin.png' %}"></a></li>&nbsp;&nbsp;&nbsp;
                                <li><a href="https://github.com/navya1208"><img class="icons" src="{% static 'images/git.png' %}"></a></li>&nbsp;&nbsp;&nbsp;
                                <li><a href="https://www.facebook.com/"><img class="icons" src="{% static 'images/fb.jpg' %}"></a></li>&nbsp;&nbsp;&nbsp;
                                <li><a href="https://www.instagram.com/?hl=en"><img class="icons" src="{% static 'images/insta.jpg' %}"></a></li>&nbsp;&nbsp;&nbsp;
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>What I knew</h5>
                    <hr>
                    <ul>
                        <li>Python</li>
                        <li>Oracle SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li><p>IDE's USED:
                            Visual studio code, Eclipse, Pycharm and  Jupiter.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Personal Dossier</h5>
                    <hr>
                    <ul>
                        <li>DOB : 8th December 1996</li>
                        <li>Address : Janapriya Township, Bangalore.</li>
                        <li>Hobbies : Watching movies, listening music, mobile games, learning new skills</li>
                        <li>Languages : English (RWS), Telugu (RWS), Kannada (RWS) and Hindi (RW)</li>
                        <li>Nationality : Indian</li>
                        <li>Certifications : Python, Oracle SQL and Web Technologies</li>
                        

                    </ul>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>My Short Term Goal</h5>
                    <hr>
                    <p>To pursue a challenging career and be a part of progressive organization that gives a scope
                        to enhance my knowledge and utilizing my skills towards the growth of the organization.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Declaration</h5>
                    <hr>
                    <p>I hereby declare that the details that are given above are true according to my knowledge.</p>
                     <h6>place:Bangalore</h6>
                </div>
            </div>
        <br>   
        </div>
        <div align="right"><h5 style="color:white;">Created by @ Navya</h5></div>
    </div>
    
</body>
</html>